.cardAppart {
    border-radius: 10px;
    margin: 20px 15px;
    border: 1px solid #ddd; 
    min-width: 30%;
    min-height: 40vh;
    background-color: #f4d8d8; 
    position: relative;
    overflow: hidden; 
    transition: transform 0.5s;
    cursor: pointer;
   
}

.cardAppart .img_cover { 
    width: 100%; 
    height: auto;
    object-fit: cover;
    display: block;
    border-radius: 10px 10px 0 0;
    transition: transform 0.5s, opacity 0.5s;
}

.cardAppart:hover .img_cover {
    transform: scale(1.1);
    opacity: 0.7;
}

.cardAppart .title_Appart {
    color: #FFFFFF;
    font-size: 18px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    margin: 0;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
}




@media (min-width: 768px) {
    
    /* .cardAppart {
        min-width: 45%;
        height: auto;
    } */
    /* .cardAppart {
        min-width: 45%; 
        min-height: 30vh; 
    } */

    .div_Appart {
        margin-top: 20px;
      
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        
      
    }


    .div_Appart > * {
        flex: 0 0 calc(33.33% - 10px); /* Chaque élément prend environ un tiers de la largeur totale, moins 10px pour l'espacement */
        margin: 5px; /* Marge autour de chaque élément */
        
       
    }

}




@media (min-width: 1024px) {
    .cardAppart {
        min-width: 30%;
        height: auto;
    }
}
