.banner-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    min-height: 10vh; 
    border-radius: 5px;
    margin: 60px 5px 0 5px;
}

.banner-text {
    color: white; 
    font-size: 20px; 
    text-align: center; 
}

/* Media queries */
@media (min-width: 768px) {
    .banner-text {
        font-size: 24px; 
    }
    .banner-container {
        min-height: 20vh;
        border-radius: 20px; 
    }
}

@media (min-width: 1024px) {
    .banner-container {
        margin-top: 100px; /* Pour éviter le chevauchement avec la navbar */
    }
    

    .banner-text {
        font-size: 40px;
    }
}
