.carrousel-container {
    width: 100%;
    position: relative;
    margin-top: 60px; 
}

.slide-container {
    position: relative;
    text-align: center;
}

.slide-container img {
    width: 100%;
    height: 30vh; 
    object-fit: cover; 
    border-radius: 15px;
}

/* Styles pour les flèches de navigation */
.carousel .control-arrow {
    background-color: black !important; /* Fond noir pour les chevrons */
    opacity: 0.8;
    top: 40% !important;
    bottom: 40% !important;
    position: absolute !important;
}

.carousel .control-prev.control-arrow {
    left: 10px; 
}

.carousel .control-next.control-arrow {
    right: 10px; 
}

.carousel .control-arrow:hover {
    opacity: 1;
}

/* Suppression des pointillés de pagination */
.carousel .control-dots {
    display: none;
}

.carousel .thumb {
    border: none;
}

.carousel .thumb.selected, .carousel .thumb:hover {
    border: none;
}

.carousel .slide {
    background: none;
}

/* Compteur d'images */
.legend {
    display: none;
}

@media (min-width: 768px) {
    .slide-container img {
        height: 50vh; 
    }

    .legend {
        display: block; /* Affichage du compteur sur grands écrans */
    }
}
