.equipement {
    margin-top: 20px;
}
  
.equipement_buton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ff6060;
    border: none;
    padding: 5px 10px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
  
.equipement_buton button {
    background: none;
    border: none;
    color: white; 
    cursor: pointer;
    margin-right: 5px;
}
  
.equipement_buton svg {
    color: white;
}
  
.equipement_texte {
    list-style-type: none; 
    padding: 0;
    margin: 10px 0;
    color: #ff6060;
}
  
.equipement_texte li {
    margin-bottom: 5px; 
}
  