.tagDiv {
    display: flex;
    flex-wrap: wrap; 
    gap: 10px;
  }
  
.tagSpan {
    border: none; 
    background-color: #ff6060; 
    color: white;
    padding: 5px 10px; 
    border-radius: 15px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    width: 80px;
    text-align: center;
    font-size: 0.5rem;
}

  
.tagSpan:hover {
    background-color: #e97878;
}

@media (min-width: 768px) {
    .tagSpan{
        font-size: 0.8rem;
        width: 100px;
    }
}
  