.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    text-align: center; 
    padding: 20px;
}

.collapse-container {
    width: 100%; 
    max-width: 600px;
    margin-bottom: 20px;
}

@media (min-width: 768px)  {

    .collapse-container {
        width: 100%; 
        max-width: 600px; 
        margin-bottom: 20px; 
    }
    
}