.footer {
    background-color: black;
    max-width: 100%;
    height: auto;
    padding: 10px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
}

.textfooter {
    color: white;
}

.imgfooter {
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.imgfooter > img {
    filter: brightness(0) invert(1);
    width: 120px;
}
